/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
}

.spotify-logo{
    width: 11em;
    padding: 0.5em;
}

header nav ul{
    float: right;
    padding-top: 1.7em;
}

li{
    display: inline;
}

a{
    color: black;
    text-decoration: none;
    padding: 1em;
}

.banner{
    background-image: url("/Labs/Week2/lab-css-spotify-clone-es-master/images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: white;
}

.banner h1{
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    padding-top: 4em;
}

.banner h3{
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    padding-top: 1em;

}