/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
}

.spotify-logo{
    width: 11em;
    padding: 0.5em;
}

header nav ul{
    float: right;
    padding-top: 1.7em;
}

li{
    display: inline;
}

a{
    color: black;
    text-decoration: none;
    padding: 1em;
}

.banner{
    background-image: url("/Labs/Week2/lab-css-spotify-clone-es-master/images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: white;
}

.banner h1{
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 0.2em;
}

.banner h3{
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    padding-top: 0.3em;
}

.tagsSection{
    text-align: center;
    align-content: center;
    padding-top: 3em;
    padding-bottom: 5em;
}

.tagsTitle{
    color: black;
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 3em;
    text-decoration: underline;
    text-underline-offset: 0.4em;
    text-decoration-color: #00B172;
}

.tagBox{
    width: 100%;
    align-items: center;
    display: table;
}

.tag img{
    width: 5em;
}

.tag{
    width: 33%;
    display: table-cell;
    margin: auto;
    text-align: center;
}
.tag h4{
    color: #00B172;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.tag p{
    padding-inline: 2em;
}

.greenBackground{
    background-color: #00B172;
    padding-left: 4em;
    width: 100%;
}

.greenBackground h3{
    color: white;
    font-size: 1.9em;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 2em;
    text-decoration: underline;
    text-underline-offset: 0.4em;
    text-decoration-color: white;
}

.textBox{
    width: 17em;
}

.textBox h4{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.textBox p{
    color: white;
    padding: 2em 0em;
    font-size: 1.2em;
    font: weight lighter;
}

.white-logo{
    align-items: center;
    width: 7em;
    padding-top: 20em;
}

.screenshot{
    align-items: right;
    width: 17em;
}